{% if page.incat != null %}
<div class="wrapper category-listing">
<ul>
  {% for candidate in site.pages %}
    {% if candidate.incat == page.incat %}
      {% if candidate.title != candidate.incat %}
        <li><a href="{{ candidate.url }}">{% if page.title == candidate.title %}<strong>{{ candidate.title }}</strong>{% else %}{{ candidate.title }}{% endif %}</a></li>
      {% endif %}
    {% endif %}
  {% endfor %}
  {% if page.inside != null %}
  {% for candidate in page.inside %}
    <li><a href="/{{ page.lang }}/{{ candidate }}">{% if page.title == candidate %}<strong>{{ candidate }}</strong>{% else %}{{ candidate }}{% endif %}</a></li>
  {% endfor %}
  {% endif %}
</ul>
</div>
{% endif %}
