<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title[page.lang] | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description[page.lang] }}{% endif %}">

  <link type="text/plain" rel="author" href="https://subnautica.cos.ovh/humans.txt"/>
  <link rel="icon" type="image/x-icon" href="{{ site.cdn }}/images/favicon.ico"/>
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  {% assign posts=site.posts | where:"ref", page.ref | sort: 'lang' %}{% for post in posts %}
  <link rel="alternate" hreflang="{{ post.lang }}" href="{{ post.url }}" />{% endfor %}
  {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}{% for page in pages %}
  <link rel="alternate" hreflang="{{ page.lang }}" href="{{ page.url }}" />{% endfor %}
  <link rel="alternate" type="application/rss+xml" title="{{ site.title[page.lang] }}" href="{{ site.feed[page.lang] | prepend: site.baseurl | prepend: site.url }}">
  <style snel-boilerplate>@keyframes snel-bodyin {from {opacity:.0;}to {opacity:1}}html.loaded{animation: snel-bodyin .3s}html{opacity:0}html.loaded_animfinished{opacity:1}</style>
  <noscript>
    <style>html{opacity:1!important;}</style>
  </noscript>
</head>
