<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/{{ site.index[page.lang] }}"><snel-img alt="{{ site.title[page.lang] }}" height=130 src="{{ site.cdn }}/images/logo.png" /></a>

    <div class="banner">
      {% include banner.html %}
    </div>

  </div>

</header>
<script sync>(function(){window.onscroll = function(){if(document.body.scrollTop == 0){document.getElementsByClassName("top")[0].className = "top";document.getElementsByClassName("site-nav-vertical")[0].className = "site-nav-vertical"}else{document.getElementsByClassName("top")[0].className = "top collapsed";document.getElementsByClassName("site-nav-vertical")[0].className = "site-nav-vertical expanded"}}})();</script>
