<div class="wrapper motto">
{% if page.lang == "pl" %}
<p>Podstawowym celem naszej hodowli jest połączenie zdrowia, temperamentu, piękna i zrównoważonego charakteru.</p>
<p>Troskliwie odchowane w naszym domu szczenięta staną się wiernymi i oddanymi członkami całej Waszej rodziny.</p>
{% endif %}
{% if page.lang == "en" %}
<p>The main purpose of our breeding is to connect health, temperament, beauty and well-balanced character.</p>
<p>We bring our puppies up thoughtfully so that we are sure that they become a faithful and devoted member of your family.</p>
{% endif %}
{% if page.lang == "de" %}
<p>Die Grundaufgabe unserer Zucht ist, eine Verbindung zwischen der Gesundheit, dem Temperament, der Schönheit und dem ausgewogenen Charakter zu schaffen.</p>
<p>Sorgsam bei uns zu Hause aufgezogene Welpen werden zu treuen und ergebenen Mitglieder Eurer ganzen Familie.</p>
{% endif %}
</div>
