<!DOCTYPE html>
<html snel>

  {% include head.html %}

  <body>

    <header class="top">

      {% include language-switcher.html %}

      {% include header.html %}

      {% include motto.html %}

      {% include navigation.html %}

    </header>

    <div class="page-content">

      {% include breadcrumb.html %}

      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}
    
    <script async src="https://cdn.cos.ovh/snel.js"></script>

  </body>

</html>
